<div class="item">
  <div class="quantity_container">
    <label for="quantity">Quantity</label>
    <input
      type="number"
      placeholder="Type quantity"
      onkeyup="displayItems(event)"
    />
  </div>
</div>
